header{
    display:flex;
}
header .nav{
    justify-content: center;
}

.preFooter{
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
}

footer{
    height: 78px;
}
