header{
    display:flex;
    flex-direction: column;
}


.preFooter{
    padding: 20px 0px 40px 0px;
    background: #3b3b3b;
    border-top: 5px solid #ed564b;
    
}
.preFooter a{
    text-decoration: none;
}
.footerLists{
    list-style: none;
    color:#828282;
    padding:0px;
}

.footerLists li{
    border-bottom:1px dotted #828282;
}
.footerLists a{
    color:#828282;
    
}
.footerLists a:hover{
    color:#fff;
}
.footertext{
    color:#828282;
}

.latestProjects img{
    width:auto;
    height: auto;
 
}

.latestArticles a{
    text-decoration: none;
    color:#ed564b;
}

footer{
    height: 78px;
}

.caroursel-inner{
    mask-image: url(./img/overlay.png);
}
.overlay{
    background-image: url(./img/overlay.png);
}

.nav-link:hover{
    color:#ed564b;

}




@media (max-with:700px){
.header{
    display:flex;
    flex-direction:column;
}
.redSection{
    display:flex;
    flex-direction:column;
}
.latetsProjects{
    display:flex;
    flex-direction:column;
}
.latestArticles{
    display:flex;
    flex-direction:column;
}

}